# <strong><font color=#A52A2A></span> NLP_HW4 </strong>
Dr Asgari - Spring 2023
<br>
98101566 -> Mohammadreza Daviran
<br>
98170668 -> Sara Azarnoush
<br>
98171007 -> Nona Ghazizadeh
<br>

# Requirements

In [23]:
! pip install tqdm
! pip install gdown
! pip install pandas
! pip install hazm

Requirement already satisfied: tqdm in /Users/nonaghazizadeh/opt/anaconda3/lib/python3.9/site-packages (4.64.0)
Requirement already satisfied: gdown in /Users/nonaghazizadeh/opt/anaconda3/lib/python3.9/site-packages (4.7.1)
Requirement already satisfied: requests[socks] in /Users/nonaghazizadeh/opt/anaconda3/lib/python3.9/site-packages (from gdown) (2.27.1)
Requirement already satisfied: beautifulsoup4 in /Users/nonaghazizadeh/opt/anaconda3/lib/python3.9/site-packages (from gdown) (4.11.1)
Requirement already satisfied: six in /Users/nonaghazizadeh/opt/anaconda3/lib/python3.9/site-packages (from gdown) (1.15.0)
Requirement already satisfied: filelock in /Users/nonaghazizadeh/opt/anaconda3/lib/python3.9/site-packages (from gdown) (3.6.0)
Requirement already satisfied: tqdm in /Users/nonaghazizadeh/opt/anaconda3/lib/python3.9/site-packages (from gdown) (4.64.0)
Requirement already satisfied: soupsieve>1.2 in /Users/nonaghazizadeh/opt/anaconda3/lib/python3.9/site-packages (from beautifulsoup4->gdown) (2.3.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/nonaghazizadeh/opt/anaconda3/lib/python3.9/site-packages (from requests[socks]->gdown) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/nonaghazizadeh/opt/anaconda3/lib/python3.9/site-packages (from requests[socks]->gdown) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/nonaghazizadeh/opt/anaconda3/lib/python3.9/site-packages (from requests[socks]->gdown) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/nonaghazizadeh/opt/anaconda3/lib/python3.9/site-packages (from requests[socks]->gdown) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /Users/nonaghazizadeh/opt/anaconda3/lib/python3.9/site-packages (from requests[socks]->gdown) (1.7.1)
Requirement already satisfied: pandas in /Users/nonaghazizadeh/opt/anaconda3/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/nonaghazizadeh/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/nonaghazizadeh/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in /Users/nonaghazizadeh/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /Users/nonaghazizadeh/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.15.0)
Requirement already satisfied: hazm in /Users/nonaghazizadeh/opt/anaconda3/lib/python3.9/site-packages (0.7.0)
Requirement already satisfied: libwapiti>=0.2.1 in /Users/nonaghazizadeh/opt/anaconda3/lib/python3.9/site-packages (from hazm) (0.2.1)
Requirement already satisfied: nltk==3.3 in /Users/nonaghazizadeh/opt/anaconda3/lib/python3.9/site-packages (from hazm) (3.3)
Requirement already satisfied: six in /Users/nonaghazizadeh/opt/anaconda3/lib/python3.9/site-packages (from nltk==3.3->hazm) (1.15.0)

In [24]:
import gdown
import pandas as pd
from tabulate import tabulate
import re
import hazm
from string import punctuation
from tqdm import tqdm
import json
from sklearn.feature_extraction.text import TfidfVectorizer

# Load dataset and prepare

In [3]:
# url = "https://drive.google.com/uc?id=1plKSDX8vsTttbchrZYI3iC4YkE7wNbMs"
# output = "persian_news.zip"
# gdown.download(url, output, quiet=False)

In [4]:
# !unzip /content/persian_news.zip

In [5]:
def load_clean_dataset(path):
    dataset = pd.read_csv(path, delimiter='\t')
    dataset = dataset.drop(dataset.columns[0], axis=1)
    return dataset

In [6]:
train_dataset = load_clean_dataset('persian_news/train.csv')
train_dataset

,content,label,label_id
0,به گزارش خبرنگار حوزه بهداشت و درمان گروه علمی...,پزشکی,7
1,به گزارش خبرنگار فوتبال و فوتسال گروه ورزشی با...,ورزشی,6
2,بهروز اکرمی، در گفتگو با خبرنگار اجتماعی باشگا...,اجتماعی,0
3,به گزارش خبرنگار حوزه شهری گروه اجتماعی باشگاه...,اجتماعی,0
4,به گزارش باشگاه خبرنگاران و به نقل از روابط عم...,فرهنگی هنری,5
...,...,...,...
13309,به گزارش خبرنگار دولت باشگاه خبرنگاران رضا فرج...,سیاسی,3
13310,به گزارش خبرنگار اقتصادی باشگاه خبرنگاران، باز...,اقتصادی,1
13311,ایسوس همیشه سورپرایزهایی را برای کامپیوتکس کنا...,علمی فناوری,4
13312,به گزارش حوزه مجلس گروه سیاسی باشگاه خبرنگاران...,سیاسی,3
13313,به گزارش خبرنگار اقتصادی باشگاه خبرنگاران؛ در ...,اقتصادی,1

In [7]:
dev_dataset = load_clean_dataset('persian_news/dev.csv')
dev_dataset

                                                content        label  label_id
0     به گزارش حوزه بهداشت و درمان گروه علمی پزشکی ب...        پزشکی         7
1     به گزارش خبرنگار حوزه شهری گروه اجتماعی باشگاه...      اجتماعی         0
2     به گزارش گروه اجتماعی باشگاه خبرنگاران جوان، س...      اجتماعی         0
3     به گزارش گروه بین الملل باشگاه خبرنگاران به نق...    بین الملل         2
4     به گزارش خبرنگار راه و شهرسازی گروه اقتصادی با...      اقتصادی         1
...                                                 ...          ...       ...
1475  به گزارش خبرنگارکلینیک باشگاه خبرنگاران؛ کم خو...        پزشکی         7
1476  رضا قدیمی رئیس کمیته منابع انسانی ستاد اربعین ...      اجتماعی         0
1477  به گزارش خبرنگار گروه علمی و دانشگاهی خبرگزاری...  علمی فناوری         4
1478  به گزارش خبرنگار حوزه کلینیک گروه علمی پزشکی ب...        پزشکی         7
1479  به گزارش گروه اقتصادی باشگاه خبرنگاران به نقل ...      اقتصادی         1

[1480 rows x 3 columns]

In [8]:
test_dataset = load_clean_dataset('persian_news/test.csv')
test_dataset

                                                content        label  label_id
0     حسن جوهرچی بازیگر سینما و تلویزیون ایران در گف...  فرهنگی هنری         5
1     به گزارش گروه بین الملل باشگاه خبرنگاران جوان ...    بین الملل         2
2     به گزارش خبرنگار فوتبال و فوتسال گروه ورزشی با...        ورزشی         6
3     به‌ گزارش گروه اقتصادی باشگاه خبرنگاران به نقل...      اقتصادی         1
4     به گزارش خبرنگار حوزه قرآن و عترت گروه فرهنگی ...  فرهنگی هنری         5
...                                                 ...          ...       ...
1639  طرح رجیستری که برای قانون‌مند شدن واردات موبای...  علمی فناوری         4
1640  به گزارش گروه بین‌الملل باشگاه خبرنگاران جوان ...    بین الملل         2
1641  به گزارش گروه ورزشی باشگاه خبرنگاران، مرحله یک...        ورزشی         6
1642  مجله شبانه باشگاه خبرنگاران؛ عطا کردی خطا کردم...      اجتماعی         0
1643  به گزارش حوزه مجلس گروه سیاسی باشگاه خبرنگاران...        سیاسی         3

[1644 rows x 3 columns]

In [9]:
CATEGORIES = pd.unique(train_dataset['label'])
train_categories_list = []

for category in CATEGORIES:
    train_categories_list.append([category, len(train_dataset[train_dataset['label'] == category])])
train_categories_list.append(["کل", len(train_dataset)])

print(tabulate(train_categories_list, headers=['category', 'num']))

category       num
-----------  -----
پزشکی         1688
ورزشی         1119
اجتماعی       1757
فرهنگی هنری   2072
علمی فناوری   1973
سیاسی         1838
بین الملل     1600
اقتصادی       1267
کل           13314

In [10]:
CATEGORIES = pd.unique(dev_dataset['label'])
dev_categories_list = []

for category in CATEGORIES:
    dev_categories_list.append([category, len(dev_dataset[dev_dataset['label'] == category])])
dev_categories_list.append(["کل", len(dev_dataset)])

print(tabulate(dev_categories_list, headers=['category', 'num']))

category       num
-----------  -----
پزشکی          188
اجتماعی        196
بین الملل      178
اقتصادی        141
فرهنگی هنری    230
سیاسی          204
ورزشی          124
علمی فناوری    219
کل            1480

In [11]:
CATEGORIES = pd.unique(test_dataset['label'])
test_categories_list = []

for category in CATEGORIES:
    test_categories_list.append([category, len(test_dataset[test_dataset['label'] == category])])
test_categories_list.append(["کل", len(test_dataset)])

print(tabulate(test_categories_list, headers=['category', 'num']))

category       num
-----------  -----
فرهنگی هنری    256
بین الملل      197
ورزشی          138
اقتصادی        156
پزشکی          209
سیاسی          227
علمی فناوری    244
اجتماعی        217
کل            1644

# Preprocess

In [12]:
class Preprocessor:

    def __init__(self, stopwords_path):
        self.stopwords = []
        with open(stopwords_path, encoding='utf-8') as file:
            self.stopwords = file.read().split()

    def preprocess(self, text):
        text = self.normalize(text)
        text = self.remove_links(text)
        text = self.remove_punctuations(text)
        words = self.word_tokenize(text)
        words = self.remove_invalid_words(words)
        words = self.remove_stopwords(words)
        return words

    def normalize(self, text):
        return hazm.Normalizer().normalize(text)

    def remove_links(self, text):
        patterns = ['\S*http\S*', '\S*www\S*', '\S+\.ir\S*', '\S+\.com\S*', '\S+\.org\S*', '\S*@\S*']
        for pattern in patterns:
            text = re.sub(pattern, ' ', text)
        return text

    def remove_punctuations(self, text):
        return re.sub(f'[{punctuation}؟،٪×÷»«]+', '', text)

    def word_tokenize(self, text):
        return hazm.word_tokenize(text)

    def remove_invalid_words(self, words):
        return [word for word in words if len(word) > 3 or re.match('^[\u0600-\u06FF]{2,3}$', word)]

    def remove_stopwords(self, words):
        return [word for word in words if word not in self.stopwords]

In [13]:
def get_preprocessed_text(data, preprocessor):
    preprocessed_contents = []
    contents = data['content'].tolist()
    preprocessed_contents = [preprocessor.preprocess(content) for content in tqdm(contents)]
    return preprocessed_contents

In [14]:
preprocessor = Preprocessor(stopwords_path='stopwords.txt')

In [15]:
train_preprocessed_content = get_preprocessed_text(train_dataset, preprocessor)

100%|████████████████████████████████████| 13314/13314 [00:36<00:00, 363.55it/s]

In [17]:
with open('preprocessed_train_dataset.json', 'w') as f:
    json.dump(train_preprocessed_content, f)

In [18]:
dev_preprocessed_content = get_preprocessed_text(dev_dataset, preprocessor)

100%|██████████████████████████████████████| 1480/1480 [00:04<00:00, 353.21it/s]

In [19]:
with open('preprocessed_dev_dataset.json', 'w') as f:
    json.dump(dev_preprocessed_content, f)

In [20]:
test_preprocessed_content = get_preprocessed_text(test_dataset, preprocessor)

100%|██████████████████████████████████████| 1644/1644 [00:04<00:00, 366.82it/s]

In [21]:
with open('preprocessed_test_dataset.json', 'w') as f:
    json.dump(test_preprocessed_content, f)

# Document classification

In [25]:
with open('preprocessed_train_dataset.json', 'r') as f:
    train_preprocessed_content_loaded = json.load(f)

with open('preprocessed_dev_dataset.json', 'r') as f:
    dev_preprocessed_content_loaded = json.load(f)

with open('preprocessed_test_dataset.json', 'r') as f:
    test_preprocessed_content_loaded = json.load(f)

In [26]:
train_dev_preprocessed_content_loaded = train_preprocessed_content_loaded + dev_preprocessed_content_loaded

In [27]:
class TF_IDF:

    def __init__(self):
        self.vectorizer = TfidfVectorizer()

    def fit_vectorizer(self, data):
        self.vectorizer.fit(list(map(lambda doc: ' '.join(doc), data)))
    
    def transform_vectorizer(self, preprocessed_title, preprocessed_texts):
        embeddings = []
        for title, text in zip(preprocessed_title, preprocessed_texts):
            emb_title = self.vectorizer.transform([' '.join(title)]).toarray()[0]
            emb_text = self.vectorizer.transform([' '.join(text)]).toarray()[0]
            embeddings.append(((emb_text * 19) + emb_title) / 20)
        return embeddings

    def save_TF_IDF_model(self, path="TF_IDF_model.pickle"):
        with open(path, "wb") as file:
            pickle.dump(self.vectors.todense().tolist(), file)

    def load_TF_IDF_model(self, path="TF_IDF_model.pickle"):
        with open(path, "rb") as file:
            return pickle.load(file)

In [ ]:
TF_IDF_model = TF_IDF()
TF_IDF_model.fit_vectorizer(train_dev_preprocessed_content_loaded)

# Token Classification